<!DOCTYPE html>



<html>

<head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    {{!--
    <script>
        function f1(_id) {
            var rowID = _id
            console.log(rowID)
            var elem = document.getElementById("s1")
            elem.value = rowID
            console.log(elem.value)


        }
    </script> --}}

    <title>Grade Mangment</title>


<body>

    <div class="main-content">

        {{>main}}

        <div class="container pt-5 pb-5">
            <!-- Content here -->

            <body>

                <div class="row">
                    <div class="col-6">
                        <h1>Courses</h1>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <form id="course_upload_form" action="/upload_course" method="POST"
                            enctype="multipart/form-data">
                            <input type="file" id="myCourse"
                                onChange="document.getElementById('course_upload_form').submit();" name="files"
                                style="display:none;" />
                            <button type="button" onclick="document.getElementById('myCourse').click();"
                                class="btn btn-primary align-self-center">+Upload Course</button>
                        </form>

                    </div>
                </div>


                <table class="table table-bordered" id="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">rowid {{_id}}</th>
                            <th scope="col">Course Name</th>
                            
                            <th scope="col">Grade Maintain Time</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each courseList}}
                        <tr>
                            <td>{{_id}}</td>
                            <td>{{name}}</td>
                            
                            <td>{{gradeMaintainTime}}</td>
                            <td class="text-end">

                                <form class="studentForm" id="students_form{{_id}}" action="/upload_students"
                                    method="POST" enctype="multipart/form-data" value="{{_id}}">
                                    <input type="hidden" name="col" value="{{_id}}">
                                    <input type="file" value="{{_id}}" id="myFile{{_id}}" name="files"
                                        onchange='document.getElementById("students_form{{_id}}").submit();'
                                        style="display: none;">
                                    <input type="hidden" name="id" value="{{_id}}">


                                    <button id="s1" type="button"
                                        onclick=' document.getElementById("myFile{{_id}}").click();' value="{{_id}}"
                                        name="button24k" class="btn btn-outline-primary"><i
                                            class="bi bi-plus"></i><i>Add Students</button>
                                    <input type="hidden" name="col" value="{{_id}}">

                                </form>


                                <form action="/course/{{_id}}" method="GET">
                                    {{!-- <input type="hidden" name="id" value="{{ _id}}"> --}}
                                    <button class="btn btn-outline-info"><i class="bi bi-eye"></i><i
                                            onclick="viewing({{_id}})">View</button>
                                </form>


                                <a href="/course/edit/{{_id}}" type="button" class="btn btn-outline-warning"><i
                                        class="bi bi-pencil"></i>Edit</a>


                                <form action="/course/delete/{{_id}}" method="POST">
                                    <input type="hidden" name="id" value="{{ _id}}">
                                    <button class="btn btn-outline-danger"><i class="bi bi-person-x"></i><i
                                            onclick="deleting({{_id}})">Delete</button>
                                </form>

                            </td>

                            
                        </tr>
                        {{/each}}

                </table>


            </body>
        </div>


    </div>


</body>

</head>

</html>