<!DOCTYPE html>



<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


<body>

    <div class="main-content">

        {{>main passThisToView=user}}

        <div class="container pt-5 pb-5">
            <!-- Content here -->


            <form id="update-form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <h1>General</h1>
                        </div>
                    </div>
                    <table class="table table-bordered" id="childTable3">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Bound</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Theory</th>
                                <td id="theoryWeight">{{generalTheoryWeight}}</td>
                                <td id="theoryBound">{{lowTheoryBound}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary edit-button" data-celltype="theory">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-primary save-button" data-celltype="theory"
                                        style="display: none;">
                                        Save
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Lab</th>
                                <td id="labWeight">{{generalLabWeight}}</td>
                                <td id="labBound">{{lowLabBound}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary edit-button" data-celltype="lab">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-primary save-button" data-celltype="lab"
                                        style="display: none;">
                                        Save
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <body>
                        <div class="row">
                            <div class="col-6">
                                <h1>Theory</h1>
                            </div>
                        </div>
                        <table class="table table-bordered" id="childTable">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">name</th>
                                    <th scope="col">weight</th>
                                    <th scope="col">bound</th>

                                    <th scope="col" class="text-end">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each arr}}
                                <tr>
                                    <td>{{id}} <class="form-control1"></td>
                                    <td>{{name}} <id="theoryName" class="form-control1">
                                    </td>
                                    <td>{{weight}} <id="theoryWeight" class="form-control1">
                                    </td>
                                    <td>
                                        <span>{{bound}}</span>
                                    </td>

                                    <td class="text-end">
                                        <button class="btn btn-primary edit-bound" data-id="{{id}}">Edit Bound</button>
                                        <button class="btn btn-danger"
                                            onclick="sent('{{name}}', {{id}}, {{weight}})">Delete</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <button id="s1" type="button" onclick='childrenRow();' class="btn btn-primary"><i
                                class="bi bi-plus"></i><i>Add Row</button>
                        <div class="col-6">
                            <h1>Lab</h1>
                        </div>

                        <table class="table table-bordered" id="childTable2">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id </th>
                                    <th scope="col">name </th>
                                    <th scope="col">weight</th>
                                    <th scope="col">bound</th>
                                    <th scope="col" class="text-end">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each arr2}}
                                <tr>
                                    <td>{{id}} <class="form-control2">
                                            </class>
                                    </td>
                                    <td>{{name}} <id="labName" class="form-control2">
                                    </td>
                                    <td>{{weight}} <id="labWeight" class="form-control2">
                                    </td>
                                    <td>{{bound}} <id="labBound" class="form-control1">
                                    </td>

                                    <td class="text-end">
                                        <button class="btn btn-primary edit-bound" data-id="{{id}}">Edit Bound</button>
                                        <button class="btn btn-danger"
                                            onclick="sent2('{{name}}', {{id}}, {{weight}})">Delete</button>
                                    </td>
                                </tr>
                                {{/each}}
                        </table>
                        <button id="s1" type="button" onclick='childrenRow2();' class="btn btn-primary"><i
                                class="bi bi-plus"></i><i>Add Row</button>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <script>
                const editBoundButtons = document.getElementsByClassName("edit-bound");

                Array.from(editBoundButtons).forEach(button => {
                    button.addEventListener("click", event => {
                        event.preventDefault();
                        const row = button.parentNode.parentNode;
                        const boundCell = row.querySelector("td:nth-child(4)");
                        boundCell.innerHTML = `<input type="text" value="${boundCell.innerText}" class="form-control">`;
                    });
                });
            </script>


            <script>

                var sumTh = 0;
                var sumLab = 0;
                var editGeneralTheoryWeight
                var editGeneralLabWeight
                var editGeneralTheoryBound
                var editGeneralLabBound
                var sumColumnValues = 0;
                    var sumColumnValues2 = 0;

                function saveTableCellValues(cellType) {
                    const weightCell = document.getElementById(`${cellType}Weight`);
                    const boundCell = document.getElementById(`${cellType}Bound`);

                    const weightInputValue = weightCell.children[0].value;
                    const boundInputValue = boundCell.children[0].value;

                    weightCell.innerText = weightInputValue;
                    boundCell.innerText = boundInputValue;

                    // Use the values here
                    if (cellType === 'theory') {
                        editGeneralTheoryWeight = weightInputValue;
                        editGeneralTheoryBound = boundInputValue;
                    } else if (cellType === 'lab') {
                        editGeneralLabWeight = weightInputValue;
                        editGeneralLabBound = boundInputValue;
                    }
                }

                function editTableCells(cellType) {
                    const weightCell = document.getElementById(`${cellType}Weight`);
                    const boundCell = document.getElementById(`${cellType}Bound`);
                    const saveButton = document.querySelector(`.save-button[data-celltype=${cellType}]`);

                    const weightCellValue = weightCell.innerText;
                    const boundCellValue = boundCell.innerText;

                    weightCell.innerHTML = `<input type="text" value="${weightCellValue}" class="form-control">`;
                    boundCell.innerHTML = `<input type="text" value="${boundCellValue}" class="form-control">`;

                    saveButton.style.display = "inline-block";
                }

                const saveButtons = document.getElementsByClassName("save-button");

                Array.from(saveButtons).forEach(button => {
                    button.addEventListener("click", event => {
                        const cellType = event.target.getAttribute('data-celltype');
                        saveTableCellValues(cellType);
                    });
                });

                const editButtons = document.getElementsByClassName("edit-button");

                Array.from(editButtons).forEach(button => {
                    button.addEventListener("click", event => {
                        const cellType = event.target.getAttribute('data-celltype');
                        editTableCells(cellType);
                    });
                });

                const theoryName = document.getElementsByClassName('.theory-name')
                const theoryWeight = document.querySelector('#theoryWeight')
                const labName = document.querySelector('#labName')
                const labWeight = document.querySelector('#labWeight')
                var ids = []
                var idsLab = []
                var i = 0;

                function childrenRow() {

                    if (sumTh >= 100) {
                        alert('The sum of weights cannot exceed 100')
                    } else {
                        var rowCount = $('#childTable tr').length;
                        ids.push(rowCount);
                        $('#childTable').find('tbody').append('<tr><th scope="row">' + rowCount
                            + '</th><td class="col-sm-4"><input type="text" name="name" class="form-control1" /></td><td><input type="text" name="weightTh" class="form-control1" /></tr>');
                    }

                }
                function childrenRow2() {
                    if (sumLab >= 100) {
                        alert('The sum of weights cannot exceed 100')
                    } else {
                        var rowCount = $('#childTable2 tr').length;
                        idsLab.push(rowCount);
                        $('#childTable2').find('tbody').append('<tr><th scope="row">' + rowCount
                            + '</th><td class="col-sm-4"><input type="text" name="name" class="form-control2" /></td><td><input type="text" name="weightLab" class="form-control2" /></tr>');
                    }
                }

                $("#childTable, #childTable2").on('change', 'input[name="weightTh"], input[name="weightLab"]', function () {
                    var tableId = $(this).closest('table').attr('id');
                    

                    var totalWeight = 0;
                    var totalWeight2 = 0;

                    $('#' + tableId + ' tbody tr').each(function () {
                        var inputVal1 = $(this).find('input[name="weightTh"]').val();
                        var weight1 = parseFloat(inputVal1);

                        var inputVal2 = $(this).find('input[name="weightLab"]').val();
                        var weight2 = parseFloat(inputVal2);
                        if (!isNaN(weight1)) {
                            totalWeight += weight1;
                        }
                        if (!isNaN(weight2)) {
                            totalWeight2 += weight2;
                        }
                    });
                    $('#childTable tbody').find('tr').each(function (row, tr) {
                        var columnValue = parseInt($(tr).find('td:eq(2)').text(), 10);
                        if (!isNaN(columnValue)) {
                            sumColumnValues += columnValue;
                        }
                    });
                    sumColumnValues += totalWeight
                    $('#childTable2 tbody').find('tr').each(function (row, tr) {
                        var columnValue = parseInt($(tr).find('td:eq(2)').text(), 10);
                        if (!isNaN(columnValue)) {
                            sumColumnValues2 += columnValue;
                        }
                    });
                    sumColumnValues2 += totalWeight2
                    if (sumColumnValues > 100 || sumColumnValues2>100) {
                        alert('The total weight on the currently edited table is more than 100. Please correct this issue before submitting the form');
                        return false;
                    }
                });


                $("#update-form").submit(function (e) {
                    e.preventDefault();
                    if (sumColumnValues > 100 || sumColumnValues2>100) {
                        alert('The total weight on the currently edited table is more than 100. Please correct this issue before submitting the form');
                                            e.preventDefault();

                        return false;
                    }
                    var data = {}
                    var theory = []
                    var lab = []

                    var boundTh = []
                    var boundLab = []
                    var boundIds
                    var boundIdsLab

                    $('#childTable tbody tr').each(function (row, tr) {

                        boundTh.push({
                            emp_id: $(tr).find('td:eq(0)').text(),
                            input_val: $(tr).find('input').val()
                        });

                    });
                    $('#childTable2 tbody tr').each(function (row, tr) {

                        boundLab.push({
                            emp_id: $(tr).find('td:eq(0)').text(),
                            input_val: $(tr).find('input').val()
                        });

                    });

                    $('.form-control1').each(function () {
                        var textVal = $(this).val();
                        if (textVal != 0) {
                            theory.push(textVal)
                        }

                    });

                    var counter = 0;
                    for (var x = 0; x < ids.length; x++) {
                        theory.splice(counter, 0, ids[x])
                        counter = counter + 3
                    }

                    $('.form-control2').each(function () {
                        var textVal2 = $(this).val();
                        if (textVal2 != 0) {
                            lab.push(textVal2)
                        }
                    });


                    $('.form-control7').each(function () {
                        var textVal7 = $(this).val();
                        if (textVal7 !== undefined && textVal7 !== '') {
                            boundTh.push(textVal7)
                        } else if (textVal7 === null) {
                            boundTh.push(0)
                        }
                    });

                    $('.form-control8').each(function () {
                        var textVal8 = $(this).val();
                        if (textVal8 !== undefined && textVal8 !== '') {
                            boundLab.push(textVal8)
                        } else if (textVal8 === null) {
                            boundLab.push(0)
                        }
                    });


                    var counterLab = 0;
                    for (var x = 0; x < idsLab.length; x++) {
                        lab.splice(counterLab, 0, idsLab[x])
                        counterLab = counterLab + 3
                    }

                    if (lab.length == 0 && document.getElementById("childTable2").rows.length == 0) {//no lab and no general
                        data = { theory, editGeneralTheoryWeight, editGeneralLabWeight, boundTh, boundLab }
                    } else {
                        data = { theory, lab, editGeneralTheoryWeight, editGeneralLabWeight, editGeneralTheoryBound, editGeneralLabBound, boundTh, boundLab } //all
                    }


                    // checking the sum of weights

                    var theoryTable = $('#childTable').find('tbody tr');
                    var labTable = $('#childTable2').find('tbody tr');

                    theoryTable.each(function (i, row) {
                        var weightCell = $(row).find('input[name="weight"]');
                        if (weightCell.length > 0 && !isNaN(parseFloat(weightCell.val()))) {
                            sumTh += parseFloat(weightCell.val());
                        }
                    });

                    labTable.each(function (i, row) {
                        var weightCell = $(row).find('input[name="weight"]');
                        if (weightCell.length > 0 && !isNaN(parseFloat(weightCell.val()))) {
                            sumLab += parseFloat(weightCell.val());
                        }
                    });

                    if (sumTh > 100 || sumLab > 100) {
                        alert("The sum of weights in tables cannot exceed 100");
                        return false;
                    }


                    $.ajax({
                        url: window.location.pathname,
                        type: "PATCH",
                        data: (data),
                        success: function (data) {
                            if (data.result == 'redirect') {
                                //redirecting to main page from here.
                                window.location.replace(data.url);
                            }
                        }
                    });

                });

            </script>

            <script>
                function sent(name, id, weight) {

                    var currentCourse = window.location.pathname.split("/").pop()

                    $.ajax({
                        url: '/course/edit/delete/' + name + '$' + id + '!' + weight + '&' + currentCourse,
                        type: 'PATCH',
                        success: function (data) {
                            if (data.result == 'redirect') {
                                //redirecting to main page from here.
                                window.location.replace(data.url);
                            }
                        }
                    })
                }
                function sent2(name, id, weight) {

                    var currentCourse = window.location.pathname.split("/").pop()

                    $.ajax({
                        url: '/course/edit/deleteLab/' + name + '$' + id + '!' + weight + '&' + currentCourse,
                        type: 'PATCH',
                        success: function (data) {
                            if (data.result == 'redirect') {
                                //redirecting to main page from here.
                                window.location.replace(data.url);
                            }
                        }
                    })
                }
            </script>

</body>
</div>

</div>

</body>

</head>

</html>