<!DOCTYPE html>
<html>

<head>
    <title>Grade Management</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<body>

    <div class="main-content">
        {{>main passThisToView=user}}

        <div class="container pt-5 pb-5">
            <!-- Content here -->
            <table class="table table-bordered" id="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Teacher Name</th>
                        <th scope="col">Courses</th>
                        <th scope="col" class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{gradeMaintainTime}}</td>
                        <td class="text-end">
                            <form id="course_upload_form_{{_id}}" action="/upload_course/{{_id}}" method="POST"
                                enctype="multipart/form-data">
                                <input type="hidden" id="fileID" name="custId" value="{{_id}}">
                                <input type="file" accept=".json" id="myCourse_{{_id}}"
                                    onchange="document.getElementById('course_upload_form_{{_id}}').submit();" name="files"
                                    style="display:none;" />
                                <button type="button" onclick="document.getElementById('myCourse_{{_id}}').click();"
                                    class="btn btn-primary align-self-center">+Upload Course</button>
                            </form>
                            <form method="GET" action="/course/students/{{_id}}">
                                <input type="submit" class="btn btn-outline-info" value="View" />
                            </form>
                            <a href="/course/edit/{{_id}}" type="button" class="btn btn-outline-warning"><i
                                    class="bi bi-pencil"></i>Edit</a>
                            <form action="/course/delete/{{_id}}" method="POST">
                                <input type="hidden" name="id" value="{{_id}}">
                                <button class="btn btn-outline-danger"><i class="bi bi-person-x"></i><i
                                        onclick="deleting({{_id}})">Delete</i></button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>
